# Fichiers de configuration de l'environnement
.env
.env.*

# Dossiers node_modules
node_modules/

# Dossier de build (React ou autres outils de build)
/build/
/dist/

# Dossiers et fichiers de cache
.cache/
*.log
*.tmp
*.temp

# Fichiers de journalisation
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dossier de couverture (pour les tests)
/coverage/

# Fichiers de configuration d'éditeur
/.vscode/
/.idea/
*.swp
*.swo

# Fichiers de sauvegarde
*~

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

Public/Uploads/*