$color-secondary: #FAF5EC; 
$color-accent: #E68269; 
$color-background-dark: #5F4D52; 
$color-text-light: #FAF5EC; 
$color-hover-dark: #7A4B47;
$color-background-section: rgba(255, 90, 0, 0.20);
$color-scroll-button: rgba(0, 0, 0, 0.8); 
$bodyBg: #F3F4FA;
$mainBg: #fff;
$mainColor: #8624DB;
$txtColor: #4E4D4F;
$purple: #8624DB;
$orange: #FF9066;
$white: #fff;
$black: #000;
$green: #4CAF50;
$red: #DB190C;

$fontFamily: 'Roboto', sans-serif;

// Tailles
$section-height: 100vh;
$scroll-button-padding: 30px;
$scroll-button-border-radius: 50%;
$content-max-width: 1200px;
$image-border-width: 1px;
$leave-review-button-padding: 10px 20px;
$leave-review-button-border-radius: 20px;
$leave-review-button-font-size: 16px;
$contact-info-margin: 20px;
$contact-info-font-size: 18px;
$phone-font-size: 20px;


$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 384px;
$sideBarLogoHeight: 171px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mobile-width: 600px;
$tablet-width: 1366px;

// Espacements
$general-margin: 10px;
$general-padding: 15px;

// Autres
$border-radius: 10px;
$box-shadow-light: 0 2px 5px rgba(0, 0, 0, 0.2);
$box-shadow-dark: 0 4px 8px rgba(0, 0, 0, 0.3);