@use './abstracts/' as *;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $fontFamily;
    color: $txtColor;
    font-size: $fontSizeNormal;
    line-height: 1.5;
    background-color: $color-secondary;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: unset;
}

img {
    width: 100%;
}

ul,
li {
    list-style-type: none;
}

.mb {
    margin-bottom: $spacing;

    @include tablet {
        margin-bottom: $mobileSpacing;
    }
}

.title {
    font-size: $fontSizeMedium;
    font-weight: 700;
}

.txt-success {
    color: $green;
}

.txt-danger { 
    color: $red;
}

/* Style Background */
.background-section {
    @include background-section;
  }
  
  .centered-logo {
    @include centered-logo;
  }
  
  .scroll-button {
    @include scroll-button;
  }
  
  .scroll-button .arrow-down {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    border-right: 4px solid currentColor;
    border-bottom: 4px solid currentColor;
    transform: rotate(45deg);
    margin-left: 1px;
    color: $color-accent; 
  }

  .centered-logo {
    @include centered-logo(400px);
  }
  
  /* Style Section 1 about */
  .about {
    @include about-section;
    
    .content-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      
      @media (min-width: 768px) {
        flex-direction: row; 
        justify-content: center; 
      }
    }
    
    .image-section {
      @media (min-width: 768px) {
        max-width: 40%;
      }
    }
    
    .image-section img {
      max-width: 100%;
      height: auto;
      border: 1px solid $color-accent;
    }
    
    .text-section {
      text-align: justify;
      padding-top: 1rem;
      margin-top: 1rem;
      letter-spacing: -0.05rem;
      
      @media (min-width: 768px) {
        width: 60%;
        max-width: 800px;
        padding-left: 20px;
        text-align: center;
        font-size: 1.5rem;
      }
    }
  }
  
  /* Style section 2 préstations */
  .services-section {
    @include services-section;
  }
  
  .services-section h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  
  .services-section h3 {
    text-align: center;
    font-size: 1.2em;
  }
  
  /* Style section Avis */

  .avis-section {
    @include avis-section;
  }
  
  /* Style section Horaires */

  .horaires-section {
    @include horaires-section;
  }
  
  /* Style section Contact */
  .find_us-section {
    @include find-us-section;
  }
  
  /* Style Page Connexion */

  .connexion-container {
    @include connexion-container;
  }
  
  .contact-info {
    font-size: $contact-info-font-size;
  }

  .connexion-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    background-color: $color-secondary; 
  }
  
  .contact-info {
    color: $color-accent; 
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  .custom-logo {
    position: absolute;
    top: 68%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    max-width: 300px;
  }

  // Style page Carrosserie, Révision & Mecanique

  .service-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $color-secondary;

    h1 {
      margin-top: 20px;
      text-align: center;
      color: $color-accent;
    }
  
    .content {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      padding: 20px;
  
      @media (min-width: 768px) { 
        grid-template-columns: 1fr 1fr; 
      }
    }
  
    .sidebar-image {
      width: 100%;
      object-fit: cover; 
      border-radius: $border-radius;
  
      @media (min-width: 768px) {
        width: auto;
        max-width: 70%; 
      }
    }
  }

  // Style pour Contact

  .contact-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $color-secondary;
  
    .contact-header {
      text-align: center;
      margin-top: 20px;
      h1 {
        color: $color-accent;
      }
    }
  
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 20px;
  
      @media (min-width: 768px) { 
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
  
        .form-contact {
          width: 50%;
        }
  
        .contact-logo {
          width: 30%;
          max-width: 100%;
          object-fit: contain;
        }
      }
    }
  }

  // Style page Parc Auto

  .page-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: $color-secondary;
  }
  
  .parc-auto-container {
    overflow: auto;
    margin: 0 auto;
    padding: 20px 0;
    width: calc(100% - 40px);
    max-width: 100vw;

    .annonce-counter {
      text-align: center;
      margin: 20px 0;
      font-size: 1.2rem;
      color: $color-accent; 
      font-weight: bold; 
    }
  
    .filters {
      display: flex;
      justify-content: center;
      gap: 20px;
      padding: 20px;
      margin: 0 auto;
  
      @media (max-width: 600px) {
        flex-direction: column;
        align-items: center;
      }
  
      .filter-select, .filter-input {
        .MuiInputLabel-root, .MuiSelect-select, .MuiInputBase-input {
          color: $color-accent;
          font-weight: bold;
        }
  
        .MuiOutlinedInput-notchedOutline {
          border-color: $color-background-dark;
        }
      }
    }
  
    .parc-auto-title {
      color: $color-accent;
      text-align: center;
      margin: 20px 0;
    }
  
    .parc-auto-loading, .parc-auto-error {
      text-align: center;
      color: #d32f2f;
      margin-top: 20px;
    }
  
    .parc-auto-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 20px;
      padding: 20px;
  
      .parc-auto-grid-item {
        display: flex;
        flex-direction: column;
        height: 100%;
        &:hover {
          transform: translateY(-5px);
          transition: transform 0.3s ease-in-out;
        }
  
        .MuiCard-root {
          flex: 1;
          display: flex;
          flex-direction: column;
  
          .MuiCardMedia-root {
            height: 140px;
          }
  
          .MuiCardContent-root {
            flex-grow: 1;
          }
        }
      }
    }
  }
  
  .footer {
    text-align: center;
    padding: 20px;
  }
  
  // CarInfos

  .carInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 189px); // Ajustez la soustraction en fonction de la hauteur de votre Navbar et Footer
    margin-top: 50px;
  }
  
  .carInfoGrid {
    margin: auto;
    width: 100%;
    max-width: 100%;
  }
  
  .imageBox {
    text-align: center;
  }
  
  .carImage {
    max-height: 100%;
    width: auto;
    max-width: 100%;
  }
  
  .carInfoCard {
    background-color: #f5f5f5; // Couleur de fond de la carte
    border-radius: 8px; // Bordures arrondies pour la carte
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Ombre subtile pour la carte
    margin: 20px 0;
    padding: 20px; // Ajout d'un peu d'espacement à l'intérieur de la carte
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .carModel,
  .carYear,
  .carMileage,
  .carPrice,
  .carFuel,
  .carTransmission {
    color: #333; // Couleur des textes
    margin-bottom: 10px; // Espacement entre chaque élément de texte
  }
  
  .priceValue {
    color: $color-accent;
    font-weight: bold;
  }
  
  .contactButton {
    background-color: #007bff;
    color: white;
  }
  
  .contactButtonBox {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  @media (max-width: 768px) {
    .carInfoContainer {
      margin: 20px 0;
    }
  
    .carInfoGrid {
      margin: auto;
      max-width: 100%;
    }
  
    .carSlider, .carDetails {
      text-align: center;
      padding: 10px 0px;
    }
  
    .imageBox, .carImage {
      max-width: 100%;
      height: auto;
    }
  
    .contactButtonBox {
      justify-content: center;
    }
  }

  
  

  