@use '../../scss/abstracts/' as *;

.custom-navbar {
  background-color: $color-background-dark;
  z-index: 99;

  .navbar-toggler {
      background-color: $color-accent;
  }

  .custom-offcanvas {
      background-color: rgba(95, 77, 82, 0.8);
      backdrop-filter: blur(5px);
  }

  .nav-link {
      color: $color-accent;
      margin-right: 20px;
  }

  .custom-link {
      color: $color-accent;
      font-size: 20px;
  }

  .custom-dropdown {
      font-size: 20px;
      position: relative;

      &.dropdown > .dropdown-toggle::after {
          display: none;
      }
  }

  .btn-outline-custom {
      color: $color-accent;
      border-color: $color-accent;

      &:hover {
          background-color: $color-accent;
          color: $txtColor;
      }
  }
}