* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Style Background */

.background-section {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.background-section::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 90, 0, 0.20);
  mix-blend-mode: color-burn;
  z-index: 1;
}

.centered-logo {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  z-index: 1;
}

.scroll-button {
  position: absolute;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  backdrop-filter: 'blur(10px)';
  z-index: 2;
}

.scroll-button .arrow-down {
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  border-right: 4px solid currentColor;
  border-bottom: 4px solid currentColor;
  transform: rotate(45deg);
  margin-left: 1px;
  color: #E68269;
}

/* Style Section 1 about */

.about {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2rem;
  background: #FAF5EC;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.image-section {
  text-align: center;
}

.image-section img {
  max-width: 100%;
  height: auto;
  border: 1px solid #E68269;
}

.content-wrapper h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.text-section {
  text-align: justify;
  padding-top: 1rem;
  margin-top: 1rem;
  letter-spacing: -0.05rem;
}

/* Style section 2 préstations */

.services-section {
  display: flex;
  flex-direction: column;
  color: #FAF5EC;
  background-color: #5F4D52;
  padding: 2em;
  font-family: 'Arial', sans-serif;
}

.services-section h2 {
  color: #E68269;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1em;
  letter-spacing: 0.1em;
}

.services-section h3 {
  color: #E68269;
  margin-top: 1em;
  font-size: 1.2em;
  text-align: center;
}

.services-section p {
  line-height: 1.6;
  margin-bottom: 1em;
  text-align: justify;
  letter-spacing: -0.05em;
}

/* Style section Avis */

.avis-section {
  background-color: #FAF5EC;
  text-align: center;
}

.avis-section h2 {
  padding-top: 10px;
  text-align: center;
}

.leave-review-button {
  background-color: #5F4D52;
  color: #FAF5EC;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  outline: none;
  display: inline-block;
  margin: 20px auto;
  transition: all 0.3s ease;
  text-decoration: none;
}

.leave-review-button:hover {
  background-color: #7A4B47;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Style section Horaires */

.horaires-section {
  background-color: #5F4D52;
  margin-bottom: 0;
}

.horaires-section h2 {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: #E68269;
}

.container-color {
  background-color: #FAF5EC;
  padding: 15px;
  border-radius: 10px;
  margin: 5px;
}

/* Style section Contact */

.find_us-section {
  padding: 10px;
  background-color: #5F4D52;
}

.find_us-section h2 {
  color: #E68269;
  text-align: center;
  font-size: 24px;
  margin-top: 0;
}

.contact-infos p {
  color: #FAF5EC;
  text-align: center;
  font-size: 18px;
  margin: 0;
}

.contact-infos .phone {
  font-size: 20px;
  padding: 10px;
}

.contact-infos .infos-phone {
  padding: 0 auto;
}

/*Style Page Connexion*/

.connexion-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  background-color: #FAF5EC;

}

.contact-info {
  color: #E68269;
  font-weight: bold;
  text-align: center; 
  margin-top: 20px; 
  margin-bottom: 20px;
  font-size: 18px; 
}

.custom-logo {
  position: absolute;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  margin-top: auto; 
  max-width: 100%;
  height: auto;
}

.footer {
  margin-top: auto;
}