/* Style Navbar Component */

.custom-navbar {
    background-color: #5F4D52;
}

.custom-navbar .navbar-toggler {
    background-color: #E68269;
}

.custom-offcanvas {
    background-color: rgba(95, 77, 82, 0.8);
    backdrop-filter: 'blur(5px)';
}

.nav-link {
    color: #E68269;
    margin-right: 50px;
}

.custom-link {
    color: #E68269;
    font-size: 1.25em;
}

.custom-dropdown {
    font-size: 1.4em;
}

.custom-dropdown.dropdown > .dropdown-toggle::after {
    display: none;
}

.btn-outline-custom {
    color: #E68269;
    border-color: #E68269;
}

.btn-outline-custom:hover {
    background-color: #E68269; 
    color: black;
}