* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style Navbar Component */

.custom-navbar {
    background-color: #5F4D52;
}

.custom-navbar .navbar-toggler {
    background-color: #E68269;
}

.custom-offcanvas {
    background-color: rgba(95, 77, 82, 0.8);
    backdrop-filter: 'blur(5px)';
}

.nav-link {
    color: #E68269;
    margin-right: 50px;
}

.custom-link {
    color: #E68269;
    font-size: 1.25em;
}

.custom-dropdown {
    font-size: 1.4em;
}

.custom-dropdown.dropdown > .dropdown-toggle::after {
    display: none;
}

.btn-outline-custom {
    color: #E68269;
    border-color: #E68269;
}

.btn-outline-custom:hover {
    background-color: #E68269; 
    color: black;
}

/* Style Avis */

.testimonial {
    background-color: #5F4D52;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 20px 0;
  }
  
  .testimonial-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: #E68269;
  }
  
  .testimonial-name {
    margin: 0;
    font-size: 1.2em;
  }
  
  .testimonial-rating {
    color: #ffcc00;
  }
  
  .star {
    display: inline-block;
    margin-right: 5px;
  }
  
  .testimonial-description {
    font-size: 1em;
    color: #FAF5EC;
    margin: 0;
  }
  
  .testimonial-date {
    font-size: 0.8em;
    color: #FAF5EC;
    margin-top: 10px;
    text-align: right;
  }

  /* Style Horaire Composant */

  /* CSS pour reproduire le style de l'image */

/* CSS pour reproduire le style de l'image pour les versions mobiles */

.horaires-list li {
  border-bottom: 2px solid #E68269;
  padding-bottom: 2px;
  margin-bottom: 10px;
}

.container {
  background-color: #5F4D52;
  border: 1px solid #E68269;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #FAF5EC;
}

.description {
  font-size: 18px;
  color: #E68269;
  text-align: start;
}


/* STyle Footer */

.footer {
  background-color: #5F4D52;
  color: #FAF5EC;
  padding: 10px 0;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .left {
  text-align: left;
}

.footer .right {
  text-align: right;
}

/* Pour le lien "Mentions Légales" si nécessaire */
.footer .right a {
  color: #FAF5EC;
  text-decoration: none;
}


/* Style Form */

.login-form {
  background-color: #5F4D52; /* Couleur de fond du formulaire */
  padding: 20px;
  box-shadow: 0 4px 10px rgba(223, 201, 201, 0.2); /* Ombre portée pour donner du relief */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centrer verticalement */
  gap: 15px;
  width: 100%;
  max-width: 1400px;
  height: auto; /* Hauteur automatique */
  margin: 10px auto; /* Centrer horizontalement et ajouter des marges */
}

.login-form h2 {
  color: #fff; /* Couleur du texte du titre */
  margin-bottom: 20px; /* Espace sous le titre */
}

.login-form input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px; /* Espace entre les champs de texte */
  font-size: 16px; /* Taille de la police pour les champs de texte */
}

.login-form input::placeholder {
  color: #A5A58D; /* Couleur du texte placeholder */
}

.login-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #B5838D; /* Couleur de fond du bouton */
  color: #fff; /* Couleur du texte du bouton */
  font-size: 16px; /* Taille de la police du bouton */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition pour l'effet de survol */
}

.login-form button:hover {
  background-color: #9D6975; /* Couleur de fond du bouton au survol */
}


